@font-face {
    font-family: Inter;
    src: url(../src/fonts/Inter.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../src/fonts/Montserrat.ttf);
}
.Montserrat{
    font-family: Montserrat !important;
    letter-spacing: 2px;
}
html,body{
    font-family: Inter, sans-serif;
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}